<body class="login-body">
  <div class="login-container">
    <div class="image-form">
      <%= image_tag 'div-image.png', class: "img" %>
    </div>
    <div class="login-form">
      <%= image_tag 'chef-hat_5109167.png', size: "50x25", class: "my-4" %>
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field my-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field my-4">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="field my-4">
          <%= f.label "Senha" %>
          <% if @minimum_password_length %>
          <a>(No mínimo <%= @minimum_password_length %> caracteres)</a>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field my-4">
          <%= f.label "Confirmação de senha" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions my-4">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>
